name: CI Pipeline

on:
  push:
    branches:
      - "dev"

jobs:
  docker-ci:
    name: Docker Build & Test
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
        
    - name: Build and start containers
      run: docker compose up -d --build
            
    - name: Stop containers 
      if: always()
      run: docker compose down